// Mixins no longer needed but left these here anyway
@mixin fieldOutline() {
  border: 2px solid black;
  border-radius: 0 !important;
}

@mixin fieldPadding() {
  padding: 0.35em 0.35em 0.35em;
}

@mixin fieldHeight() {
  height: 30px;
  max-height: 30px;
}

// Setup mat-input to look like the wire frame example for this dialog only.
// Not sure if this styling was actually wanted or not, but here it is anyway
::ng-deep {
  .mat-form-field-wrapper {
    padding: 0;
    margin: 0;

    .mat-form-field-flex {
      @include fieldOutline();
      @include fieldHeight();
      padding: 0 !important;

      .mat-form-field-infix {
        @include fieldPadding();
        border: 0;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  app-form-label {
    font-weight: bold;
  }

  .mat-select-arrow-wrapper {
    transform: none !important;
  }

  .mat-form-field-subscript-wrapper {
    top: 3px;
    margin: 0;
    pointer-events: none;
  }

  mat-form-field {
    width: 100%;
  }

  mat-icon {
    font-size: 2em !important;
  }

  mat-error {
    display: flex !important;
    justify-content: flex-end !important;

    &.paddingRight {
      padding-right: 20px;
    }
  }
}
